
<nav class='gray darken-4'>
<div class="nav-wrapper">
  <a href="#" class="brand-logo">Pokemon</a>
  <a href="#" data-activates="pokemon-nav" class="button-collapse"><i class="material-icons">menu</i></a>
  <ul class="side-nav" id="pokemon-nav">
    <div class='links'>
      <nav><div class="nav-wrapper gray darken-4"><div class="brand-logo">Pokemon</div></div></nav>
      <li><a (click)="getPopularityX(0)">All Pokemon</a></li>
      <li><a (click)="getPopularityX(4)">Very Rare</a></li>
      <li><a (click)="getPopularityX(3)">Rare</a></li>
      <li><a (click)="getPopularityX(2)">Uncommon</a></li>
      <li><a (click)="getPopularityX(1)">Common</a></li>
      <li><a (click)="getPopularityX(5)">Misc</a></li>
      <div class='donate'>
        <li><a href='https://venmo.com/leonardo-merza' target='_blank'>Donate via Venmo</a></li>
        <li><a href='https://www.paypal.me/lmerza' target='_blank'>Donate via Paypal</a></li>
      </div>
    </div>
  </ul>
</div>
</nav>


<div *ngIf="shown_pokemon > 0">
  <ul class="collection">
    <li class="collection-item" *ngFor="let pokemon of shown_pokemon" [style.backgroundColor]="pokemon.pokemon_types[0].color">
      <a href="https://maps.apple.com/maps?q={{pokemon.latitude}},{{pokemon.longitude}}">
        <div>
          <span>{{pokemon.pokemon_name}} ({{pokemon.cp}})</span><span class='right'>{{pokemon.individual_attack}} | {{pokemon.individual_defense}} | {{pokemon.individual_stamina}}</span> 
        </div>
      </a>
    </li>
  </ul>
</div>


<div *ngIf="shown_pokemon == 0">No pokemon available</div>