<div *ngIf="pokemonsShown.length > 0">
	
	 <ul class="collapsible" data-collapsible="accordion" >
		<li *ngFor="let pokemonGroup of pokemonsShown">

			<div 
			class="collapsible-header name" 
			[style.backgroundColor]="pokemonGroup[0].pokemon_types[0].color" 
			*ngIf='pokemonGroup.length > 1'>

				<i class="material-icons">view_list</i>
				{{pokemonGroup[0].pokemon_name}} ({{pokemonGroup.length}})
			</div>

			<div class="collapsible-body">
				<div class='collection' 
				[style.backgroundColor]="pokemonGroup[0].pokemon_types[0].color" 
				*ngFor='let pokemon of pokemonGroup'>
					
					<a href="https://maps.apple.com/maps?q={{pokemon.latitude}},{{pokemon.longitude}}" >
						<div>
							<span class="name">{{pokemon.pokemon_name}}</span>
							<span class='right'>
								<div>{{pokemon.distance | number:'1.0-0'}}mi</div>
							</span>
						</div>

						<div class='stats'>
							<span>ends {{pokemon.disappear_time | amTimeAgo}}</span>
							<div>
								<span *ngIf="pokemon.cp">{{pokemon.cp}}CP</span>
								<span *ngIf='pokemon.individual_attack'>@ {{pokemon.iv | number:'1.0-0'}}% IV</span>
							</div>
							<div *ngIf='pokemon.individual_attack'>
								Atk: {{pokemon.individual_attack}} | Def: {{pokemon.individual_defense}} | Sta: {{pokemon.individual_stamina}} 
							</div>
						</div>
					</a>
					
				</div>
			</div>
		

			<span *ngIf='pokemonGroup.length ==1'>
				<div class='collection' [style.backgroundColor]="pokemonGroup[0].pokemon_types[0].color">
					<a href="https://maps.apple.com/maps?q={{pokemonGroup[0].latitude}},{{pokemonGroup[0].longitude}}" >
						
						<div>
							<span class="name">{{pokemonGroup[0].pokemon_name}}</span>
							<span class='right'>
								<div>{{pokemonGroup[0].distance | number:'1.0-0'}}mi</div>
							</span>
						</div>

						<div class='stats'>
							<span>ends {{pokemonGroup[0].disappear_time | amTimeAgo}}</span>
							<div>
								<span *ngIf="pokemonGroup[0].cp">{{pokemonGroup[0].cp}}CP</span>
								<span *ngIf='pokemonGroup[0].individual_attack'>@ {{pokemonGroup[0].iv | number:'1.0-0'}}% IV</span>
							</div>
							<div *ngIf='pokemonGroup[0].individual_attack'>
								Atk: {{pokemonGroup[0].individual_attack}} | Def: {{pokemonGroup[0].individual_defense}} | Sta: {{pokemonGroup[0].individual_stamina}} 
							</div>
						</div>
					</a>
				</div>
			</span>
		</li>
	</ul>
	

</div>


<div class='message' *ngIf="pokemonsShown.length == 0">{{message}}</div>