@import "~materialize-css/dist/css/materialize.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";


/*override z index to always have menu on top*/
#sidenav-overlay {
	z-index: inherit !important;
}

a {
	letter-spacing: 0.03em;
}


/*list editing*/
.collection-item a {
	color: white;
	font-size: 1.3em;
	padding-top: 0.3em;
	padding-bottom: 0.5em;
}
.collection .collection-item {
	padding-bottom: 5px;
}


/*loading message*/
.message {
	text-align: center;
	margin-top: 20%;
}

/*stats of pokmon/raid*/
.stats{
	margin-top: 0.7em;
}
.stats div {
	margin-top: 0.2em;
}

/*pokemon/raid name*/
.name { 
    font-size: 1.8em !important;
}




















